*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
html {
    background: white;
}
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 26px;
}
body b{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}
h1.title{
    color: lightpink;
    margin: 50px 0 0 0;
    font-weight: bolder;
    font-size: 80px;
    background: white;
}

body .logo{
    float: left;
    height: 90px;
    width: 90px;
    display: inline-block;
    margin: 8px 12px;
}
/* the styles for the navigation menu */
#nav_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: lemonchiffon;
}

nav#nav_menu{
    padding-top: 30px;
    background: white;
}
#nav_menu ul li {
    float: right;
    width: 20%;                 /* 160 / 800 x 100 */
}
#nav_menu ul li a {
    display: block;
    text-align: left;
    padding: 1em 0;
    text-decoration: none;
    color: rosybrown;
    font-weight: bold;
}

#nav_menu ul ul {
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul ul li {
    float: none;
}
#nav_menu ul li:hover > ul {
    display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}


/* search bar */
.topnav{
    overflow: hidden;
    background-image: url(http://www.san-x.co.jp/charapri/images/kabe/rirakkuma/122_1920_1080.png);
    /* padding: 10px 0; */
}

.topnav input[type=text]{
    float: right;
    padding: 10px;
    border: none;
    margin: 8px 16px 8px 16px;
    font-size: 17px;
    background: white;
}

.topnav input[type=text]::placeholder{
    color:#555
}

.topnav .search-container {
    float: right;
  }
.topnav .search-container button {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url(https://cdn.onlinewebfonts.com/svg/img_194915.png) no-repeat center;
    cursor: pointer;
    opacity: 0.7;
  }
  
/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }

/*button.dropbtn*/
button.dropbtn{
    background-color: lemonchiffon;
    font-weight:bold;
}
.dropbtn {
    color: rosybrown;
    padding: 30px 0px;
    font-size: 26px;
    border: none;
    cursor: pointer;
  }
  
.dropbtn:hover, .dropbtn:focus {
    background-color: transparent;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lemonchiffon;
    min-width: 160px;
    overflow: auto;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* .dropdown a:hover {background-color: #ddd;} */

.show {display: block;}



/* contact form style */

h1.contact {
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 72px;
    color: pink;
    text-align: center;
    padding-top: 100px;
}

h4.contact {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: palevioletred;
    line-height: 1.5;
    text-align: center;
}

/*  inputs */

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: .75em;
    color: #999;
    top: -15px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

.styled-input label {
    color: rgba(121, 89, 89, 0.747);
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    width: 650px;
    max-width: 100%;
}

input, textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 18px;
    background-color: lavenderblush;
    color: rgb(121, 89, 89);
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    float:left;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: pink;
    color: rgb(121, 89, 89);
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}

.space{
    padding: 290px;
}
/* footer section*/
.foot{
    position: relative;
    top: 250px;
    padding: 50px 0;
    background-image: url(http://www.san-x.co.jp/charapri/images/kabe/rirakkuma/122_1920_1080.png);
}
footer{
    text-align: center;
    padding: 90px 0;
    background-color: lemonchiffon;
    color: rosybrown;
    font-weight:bold;
    height: 200px;
    margin-top: 230px;
}

footer p{
    font-size: 20px;
}
@media only screen and (max-width:800px) {
    /* For tablets: */
    #nav_menu{
        width: 100%;
        padding: 0%;
    }
    .topnav{
        width: 100%;
        padding: 0%;
    }
    .container{
        width: 100%;
        padding: 0%;
    }

    footer{
        width: 100%;
        padding: 0%;
      }
      .foot{
          width: 100%;
          padding: 0%;
      }
  }
  
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    #nav_menu{
        width: 100%;
        padding: 0%;
    }
    .topnav{
        width: 100%;
        padding: 0%;
    }
    .container{
        width: 100%;
        padding: 0%;
    }

    footer{
        width: 100%;
        padding: 0%;
      }
      .foot{
          width: 100%;
          padding: 0%;
      }
  }